@use '../styles/variables'as *;
@use '../styles/mixins'as *;
@use '../styles/reset'as *;
@use '../styles/colors'as *;

/*삼립 호빵체*/
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Independence_hall';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Independence_hall.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*런드리고딕*/
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*레트로 글씨체*/
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');


* {
    box-sizing: border-box;
    appearance: none;
}

html {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-size: 14px;
}

body {
    background-color: var(--background-color) !important;
}


a {
    color: var(--link-text-color);
}

.page-wrapper {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    //margin : 10px 10px 10px 10px;
    min-height: 100vh;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
    color: var(--primary-text-color);
    //@include content-horizontal-padding;

    .page-content {
        /*display: flex;*/
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 20px 20px;
        /*@include content-max-width;*/
    }
}

.page-custom {
  background-size: cover;
  background-image: url("../../assets/home.png");
  height: 600px;
}